*.aux
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
_minted*/
_markdown_CDC/
inspiration/
tools/
archive/
temp*
svg-inkscape/
GEMINI.md

.vscode/
*.pyg
repos-tests/
